{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Password Changed" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body text-center">
                  <h4 class="mb-2 text-success">
                    <i class="bi bi-check-circle-fill me-2"></i>
                    {% trans "Password reset successful" %}
                  </h4>
                  <p>{% trans "You can now log in with your new password." %}</p>

                  <div class="mt-4">
                      {% if user.is_authenticated %}        <!-- redundante o back to account, uma vez que o allauth faz logout após reset da password -->
                        <a href="{% url 'account_panel' %}" class="btn btn-outline-secondary">
                          <i class="bi bi-person-circle me-2"></i> {% trans "Back to Account Panel" %}
                        </a>
                      {% else %}
                        <a href="{% url 'account_login' %}" class="btn btn-outline-primary">
                          <i class="bi bi-box-arrow-in-right me-2"></i> {% trans "Log in" %}
                        </a>
                      {% endif %}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

